*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cambiarTema {
    display: flex;
    align-items: center;
}

.temaOscuro {
    background-color: aqua;
    border: grey solid 1px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.temaOscuro:hover {
    background-color: aqua;
    transform: scale(1.2);
    border-radius: 5px;
}

.paginas ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.paginas li {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

.paginas li:hover {
    background-color: #f2f2f2;
    transform: scale(1.2);
    border-radius: 5px;
}

body {
    background-color: rgb(236, 245, 245);
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label, input, select {
    display: block;
    margin-bottom: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
